<div class="container"  style="border-top: 1px solid #e8e8e8; position: inherit; bottom: 0; padding:30px">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-3"> <p style=" margin-bottom: 15px;color: #828282"> {{site.title}} </p>
                    <p><a href="mailto:{{site.email}}" style="color: #2a7ae2">{{site.email}}</a> </p>
                </div>
                <div class="col-sm-3">
                    <p><a href="#" style="color: #2a7ae2">{{site.twitter_username}}</a> </p>
                    <p><a href="#" style="color: #2a7ae2">{{site.github_username}}</a> </p>
                </div>
                <div class="col-sm-6">{{site.description}}</div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
