
.navbar-color {
  background-color: #323a40 !important; 
}
.navbar-nav li a:hover {
  color: #1abc9c !important;
}
a{
  text-decoration: none;
  color:#337ab7;
}
body {
  background-color: #474e5d;
  font-family: 'Roboto', sans-serif;
  line-height: 1.8;
  position: relative;
}
.navbar{
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}
p{
    font-family: 'Roboto', sans-serif !important;
    text-align: justify;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 18px !important;
    line-height: 1.77778;
    color: black;

}


