<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<head>
    <!--Google Script Tag-->
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KS3R5ZF');</script>
    <!-- End Google Tag Manager -->

    <link rel="icon" href="https://raw.githubusercontent.com/lapalb/lapalb.github.io/master/img/logo.jpg" size="32*32">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Style Files-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">    
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="{{site.baseurl}}/assets/css/style.css" rel="stylesheet">

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Unlock" rel="stylesheet">

    <meta property="og:type" content="website"
    <meta property="og:title" content="Ashish Jha Blog| Software developer at Cisco">
    <meta property="og:description" content="I believe computers and technology can make the world a better place.">
    <meta property="og:url" content="https://lapalb.github.io/as_blog">
    <meta property="og:image" content="https://raw.githubusercontent.com/lapalb/lapalb.github.io/ddddc63f75428be78bc8feb913adc46fd8fa3278/img/IMG_20190310_151157_331.jpg">	
    <meta property="og:site_name" content="lapalb | Ashish Jha">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="Blogs by Ashish Jha">
    <meta name="twitter:title" content="Ashish Jha | Software developer at Cisco">
    <meta name="twitter:site" content="@ashish_jha_96">
    <meta property="twitter:card" content="summary_large_image" />

    <!--JS Files-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
</head>

<body style="background-color:#fdfdfd">
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KS3R5ZF"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    {% include header.html %}
        <div class="container" style="padding-bottom: 300px; padding-top: 50px;">
            {{ content }}
        </div>
    {%- include footer.html -%}
</body>

<script>
        $("img").addClass("img img-fluid img-rounded mx-auto d-block");
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
</html>
