<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<head>
    <link rel="icon" href="https://raw.githubusercontent.com/lapalb/lapalb.github.io/master/img/logo.jpg" size="32*32">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Style Files-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="{{site.baseurl}}/assets/css/style.css" rel="stylesheet">

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Unlock" rel="stylesheet">


    <!--JS Files-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
</head>

<body style="background-color:#fdfdfd">
    {% include header.html %}
        <div class="container ashish-article" style="padding-bottom: 300px">
            {{ content }}
        </div>
    {%- include footer.html -%}
</body>

<script>
        $("img").addClass("img img-responsive img-rounded");
</script>
</html>
